{% include 'incl/header.twig' %}

<body>
    <div class="wrapper">
        {% include 'incl/nav.twig' %}

        <div class="tech-main" role="main">
            {{ content }}
            
            {% for page in pages("technology") %}
            <a href="{{ page.url }}" class="tech-box">
            
            <div class="tech-box-content">
            {{ page.title }}
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
