$font-color: #118a00;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #fff;
$wrapper-bg-color: #000;
$title-font-color: #118a00;
$body-bg-color: #171717;
$footer-font-color: #30b91d;
$code-bg-color: #000;
$code-border-color: #2e2e2e;
