@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

/*Internal Modules*/
@import 'pictures';
@import 'footer';
@import 'pictures';
@import 'placement';
@import 'title';
@import 'typography';
@import 'nav';
@import 'wrapper';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

