@import '../../node_modules/normalize.css/normalize';
@import 'dark-variables';

@import 'blockquotes';
@import 'code';

/*Internal Modules*/
@import 'pictures';
@import 'footer';
@import 'pictures';
@import 'placement';
@import 'title';
@import 'typography';
@import 'nav';
@import 'wrapper';
@import 'technologies';
@import 'technology';
@import 'analysis-links';
@import 'gallery';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* img {
    opacity: 0.6;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

body {
    background-color: $body-bg-color;
    color: #30b91d;
}
