body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: rgb(0, 0, 0);
}

p,
td,
th,
li,
dd {
    
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.text-white {
    color: $title-font-color;
}
